img  {
    width:50px;  
    height: auto;
    /* border-radius: 15px 50px 30px; */
} 


#twitch-res1-a{
    width:25%;
}

#twitch-res2-a{
    width:25%;
}

#twitch-res3-a{
    width:25%;
}

#twitch-res4-a{
    width:25%;
}

#twitch-res5-a{
    width:25%;
}

#twitch-res6-a{
    width:25%;
}

#twitch-res7-a{
    width:25%;
}